@keyframes moveInLeft {
  /* what to happen each moment  */
  /* for browser sake wwe animate only 2 , transform and opacity */
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  /* what to happen each moment  */
  /* for browser sake wwe animate only 2 , transform and opacity */
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  /* what to happen each moment  */
  /* for browser sake wwe animate only 2 , transform and opacity */
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
